<nav class="navbar navbar-expand navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <button mat-button color="primary" (click)="goToAdd()" >Agregar Empleado</button>
        </li>
        <li class="nav-item">
            <button mat-button color="primary" (click)="goToUpdate()">Modificar Empleado</button>
        </li>
        <li class="nav-item">
            <button mat-button color="primary" (click)="goToList()">Listar Empleado</button>
        </li>
        <li class="nav-item">
            <button mat-button color="warn" (click)="goToDelete()">Eliminar empleado</button>
        </li>
      </ul>
    </div>
</nav>
