@model EjercicioMVC.MVC.Models.OrdersView
@{
    ViewBag.Title = "Add Orders";
}

<div class="container">
    <h2>Agregar Orden</h2>
    <p>Ingrese sus datos</p>
    <form id="basic-form" method="post">
        <div class="form-group">
            <label class="text-white" for="txtAddress">Hacia donde va: </label>
            <input type="text" class="form-control" id="txtAddress" name="Address" placeholder="Direccion" required>
        </div>

        <div class="form-group">
            <label class="text-white" for="txtIdCliente">ID del cliente: </label>
            <input type="text" class="form-control" id="txtIdCliente" name="IdCustomer" placeholder="Ingrese Cliente ID" required>
        </div>
        <div class="form-group">
            <label class="text-white" for="txtEmpID">Id Del empleado a cargo </label>
            <input type="number" class="form-control" id="txtEmpID" name="EmployeeID" placeholder="Ingrese el empleado a cargo" required>
        </div>
        <button type="submit" class="btn btn-primary" id="btn-submit">Crear</button>
        <div class="form-group">
            <label class="text-white" for="txtOrderID">Si desea modificar una orden, ingrese el id de la misma </label>
            <input type="number" class="form-control" id="txtOrderID" name="OrderID" placeholder="Ingrese el id">
        </div>
        <button type="submit" class="btn btn-primary" id="btn-submit">Modificar</button>

        <!--@Html.ActionLink("Para modificar haz clic aqui", "UpdateOrders", "Orders") -->

    </form>
</div>